<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Share your amazing recipies with thousands of people accross the world. Fill in the form to get started.</p>
  </div>
</div>

<div class="row justify-content-center">

  <div class="col-8 mb-5">
  
    <% if (!locals.user) { %>
      <div class="mb-5">
        <div class="alert alert-warning" role="alert">
          Create an account in order to post a recipe!
        </div>
      </div>
    <% } %>

    <% if (locals.error) { %>
      <div class="alert alert-danger" role="alert">
        <%= locals.error %>
      </div>
    <% } %>

    <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">
        <div class="col-12">
          <label for="name" class="form-label">Recipe Name</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>
        
        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" id="description" class="form-control" cols="30" rows="4"></textarea>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Ingredients</label><br>
          <small>Example: Flour, salt, veggies</small>
          <div class="ingredientList">
            <div class="ingredeintDiv mb-1">
              <input type="text" name="ingredients" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
        </div>

        <div class="col-12">
          <label for="category">Select Category</label>
          <select class="form-select form-control" name="category" aria-label="Category">
            <option selected>Select Category</option>
            <option value="Indian">Indian</option>
            <option value="American">American</option>
            <option value="Chinese">Chinese</option>
            <option value="Mexican">Mexican</option>
            <option value="Thai">Thai</option>
            <option value="Spanish">Spanish</option>
            <option value="Italian">Italian</option>
            <option value="French">French</option>
            <option value="Others">Others</option>
          </select>
        </div>

        <div class="col-12">
          <label for="image">Product Image</label>
          <input type="file" class="form-control" name="image" accept="image/*">
        </div>

        <div class="col-12">
          <% if (locals.user) { %>
            <button type="submit" class="btn btn-primary">Submit Recipe</button>
          <% } else { %>
            <h2>Please login in order to post a recipe</h2>
          <% } %>
        </div>

      </div>
    
    </form>

  </div>
</div>